# BackEnd
__pycache__
*.pyc
*~
.idea
.DS_Store
.vscode
#db.sqlite3
venv
secrets.json
static
media

# Elastic Beanstalk Files
.aws/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml