commands:
  01_set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime
  02_set_clock:
    command: sed -i "s/ZONE\=\"UTC\"/ZONE\=\"Asia\/Seoul\"/g" /etc/sysconfig/clock

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.dev

container_commands:
  01_migrate:
    command: "/var/app/venv/*/bin/python3 manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "/var/app/venv/*/bin/python3 manage.py collectstatic --noinput"
  03_crontab_remove:
    command: "/var/app/venv/*/bin/python3 manage.py crontab remove"
    leader_only: true
    ignoreErrors: true
  04_crontab_add_permission:
    command: "chmod +x .platform/hooks/postdeploy/crontab_add.sh"
    leader_only: true
  05_crontab_refresh_permission:
    command: "chmod +x .platform/hooks/postdeploy/crontab_refresh.sh"
    leader_only: true
