option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.dev

container_commands:
  01_migrate:
    command: "/var/app/venv/*/bin/python3 manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "/var/app/venv/*/bin/python3 manage.py collectstatic --noinput"