<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="icon" href="https://changes3.s3.ap-northeast-2.amazonaws.com/image/logo.png" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>어스테인. 가치를 선물하다.</title>
    <style>
        input {
            border-radius: 40px !important;
        }

        * {
            font-family: 'NanumSquare', sans-serif !important;
        }

        .img-banner {
            object-fit: cover;
            width: 100%;
            height: 100vh;
            object-position: top;
        }

        p {
            margin: 0 0;
        }

        form > p {
            margin: 0 20px;
            text-align: left;
            color: grey;
        }
    </style>
</head>
<body>
<section style="width: 100%; height: 100vh;">
    <div style="position: relative;">
        <div style="position: absolute; width: 100%; height: 100vh;">
            <img width="100%" class="center-block img-banner"
                 src="https://changes3.s3.ap-northeast-2.amazonaws.com/image/onboarding+1.png" alt="">
        </div>
        <div style="width: 300px; height: 100px; position: absolute; top: 75vh; left:50%; margin-left: -150px;"
             class="text-center">
            <h4>안녕하세요 어스테인입니다🤗</h4>
            <h4>따뜻한 마음을 전달하기 위한</h4>
            <h4>준비를 시작해볼까요?</h4>
        </div>
    </div>
</section>
<section class="text-center">
    <h3>✋잠깐! 한 번 더 설명드릴게요!</h3>
    <p>어스테인 서비스는 이렇게 운영됩니다.</p>
    <div class="px-5 mt-3 w-100">
        <img class="img-fluid center-block" src="https://changes3.s3.ap-northeast-2.amazonaws.com/image/Group+419.png">
    </div>
    <h5 class="mt-5">🎁 골라주신 소중한 선물을</h5>
    <h5>서프라이즈로 직접! 전달해드려요.</h5>
    <p>친한 친구한테 카X 선물 받으면</p>
    <p>괜히 머쓱해서 나중에 보는 것...</p>
    <p>저만 그러는건 아니겠죠? 😅</p>
    <div class="px-5 mt-5 w-100">
        <img class="img-fluid center-block" src="https://changes3.s3.ap-northeast-2.amazonaws.com/image/Group+418.png">
    </div>
    <h5 class="mt-5">💚 골라주신 마음까지</h5>
    <h5>확실하게 전달 할게요!</h5>
    <p>간단하게 적어주신 내용도</p>
    <p>저희가 멋진 문장으로 구성해 드릴게요.</p>
    <p>참! 남이 칭찬하면 기쁨이 두배가 된대요 😊</p>
    <div class="px-5 mt-5 w-100">
        <img class="img-fluid center-block" src="https://changes3.s3.ap-northeast-2.amazonaws.com/image/Group+417.png">
    </div>
    <h5 class="mt-5">🚚 선물 배송이 시작되면</h5>
    <h5>보내주신 분께도 알려드릴게요.</h5>
    <p>택배를 기다리며 느꼈던 설렘</p>
    <p>이젠 선물을 하고 함께 즐겨봐요 🤩</p>
    <h6 class="mt-5">나의 마음이 어떻게 전달되는지 감을 잡았으니</h6>
    <h6>본격적으로 마음을 전달하러 가볼까요?</h6>
    <section id="third-page" class="center-block">
        <form class="border-right pr-5 my-4 text-left" method="post" id="contactForm" name="contactForm">
            {% csrf_token %}
            <p>✔️ 선물하시는 분의 정보를 입력해주세요!</p>
            <p>✔️ 번호는 숫자만 입력해주세요.</p>
            <div class="row mx-auto mb-3">
                <div class="col-6">
                    <input required type="text" class="form-control" name="orderer_name" id="orderer_phone"
                           placeholder="발신자 이름">
                </div>
                <div class="col-6">
                    <input required type="text" class="form-control" name="orderer_phone" id="orderer_phone"
                           placeholder="발신자 번호">
                </div>
            </div>
            <p>✔️ 선물 받는 분의 정보를 입력해주세요!</p>
            <p>✔️ 자신에게 선물하신다면 비워두셔도 좋아요 :)</p>
            <div class="row mx-auto mb-3">
                <div class="col-6">
                    <input type="text" class="form-control" name="reciever_name" id="reciever_name"
                           placeholder="수신인 이름">
                </div>
                <div class="col-6">
                    <input type="number" class="form-control" name="reciever_phone" id="reciever_phone"
                           placeholder="수신인 번호">
                </div>
            </div>
            <p>✔️ 선물을 하게 된 이유가 있나요?</p>
            <div class="mx-3 mb-3">
                <select required title="gift_reason" name="gift_reason" class="form-select"
                        aria-label="Default select example">
                    <option selected>이유를 선택해 주세요!</option>
                    <option value="생일이라서">생일이라서</option>
                    <option value="축하할 일이 있어서">축하할 일이 있어서</option>
                    <option value="고마운 마음(또는 미안한)마음을 전달하고 싶어서">고마운 마음(또는 미안한)마음을 전달하고 싶어서</option>
                    <option value="친구의 취향저격템이라서">친구의 취향저격템이라서</option>
                    <option value="추천하고 싶은 제품이라서">추천하고 싶은 제품이라서</option>
                    <option value="서프라이즈 선물을 하고싶어서">서프라이즈 선물을 하고싶어서</option>
                    <option value="응원의 마음을 전달하고 싶어서">응원의 마음을 전달하고 싶어서</option>
                </select>
            </div>
            <p>✔️ 특별히 전하고 싶은 내용이 있나요?</p>
            <div class="row mx-auto mb-3">
                <div class="col-md-12 form-group">
                <textarea required class="form-control" name="message" id="message" cols="30"
                          rows="5"
                          placeholder="특별한 날은 아니지만 친환경에 관심이 많은 친구를 보니 이 선물을 해주고 싶었어요. 저는 그 정도로 관심이 많은 편은 아니지만, 친구를 응원하는 마음에서..."></textarea>
            </div>
            </div>
            <button class="btn btn-dark btn-lg mt-3 mb-5" type="submit" style="border-radius: 30px; width: 250px;">마음
                전달하기 🎁
            </button>
        </form>
    </section>
</section>
</body>
</html>